.transclusion-extractor-modal .te-path {
  font-family: var(--font-monospace);
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  word-break: break-all;
}

.transclusion-extractor-modal .te-warning {
  color: var(--text-warning);
  font-size: var(--font-ui-smaller);
}

.te-preset-option {
  padding-inline-start: 1.5em;
}
